@if o-website-value('header-template')=='alan_header13' {
    
    $header13_search: url("data:image/svg+xml,<svg viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6.72798 12.9044C10.1392 12.9044 12.9045 10.1391 12.9045 6.72794C12.9045 3.31677 10.1392 0.551468 6.72798 0.551468C3.31681 0.551468 0.551514 3.31677 0.551514 6.72794C0.551514 10.1391 3.31681 12.9044 6.72798 12.9044Z' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round'/><path d='M14.4485 14.4485L11.0901 11.0901' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    $header13_cart: url("data:image/svg+xml,<svg viewBox='0 0 17 19' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3.25 0.75L0.625 4.25V16.5C0.625 16.9641 0.809374 17.4092 1.13756 17.7374C1.46575 18.0656 1.91087 18.25 2.375 18.25H14.625C15.0891 18.25 15.5342 18.0656 15.8624 17.7374C16.1906 17.4092 16.375 16.9641 16.375 16.5V4.25L13.75 0.75H3.25Z' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round'/><path d='M0.625 4.25H16.375' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round'/><path d='M12 7.75C12 8.67826 11.6313 9.5685 10.9749 10.2249C10.3185 10.8813 9.42826 11.25 8.5 11.25C7.57174 11.25 6.6815 10.8813 6.02513 10.2249C5.36875 9.5685 5 8.67826 5 7.75' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    $header13_wishlist: url("data:image/svg+xml,<svg viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M17.8799 2.41035C17.433 1.96323 16.9023 1.60854 16.3183 1.36655C15.7343 1.12455 15.1083 1 14.4761 1C13.844 1 13.218 1.12455 12.6339 1.36655C12.0499 1.60854 11.5193 1.96323 11.0724 2.41035L10.1449 3.33785L9.21738 2.41035C8.31465 1.50762 7.09028 1.00047 5.81363 1.00047C4.53698 1.00047 3.31261 1.50762 2.40988 2.41035C1.50715 3.31308 1 4.53744 1 5.8141C1 7.09075 1.50715 8.31512 2.40988 9.21785L3.33738 10.1453L10.1449 16.9528L16.9524 10.1453L17.8799 9.21785C18.327 8.77094 18.6817 8.24031 18.9237 7.65628C19.1657 7.07226 19.2902 6.44627 19.2902 5.8141C19.2902 5.18192 19.1657 4.55594 18.9237 3.97191C18.6817 3.38789 18.327 2.85726 17.8799 2.41035V2.41035Z' stroke='rgba(0,0,0)' stroke-linecap='round' stroke-linejoin='round' /></svg>");
    $header13_user: url("data:image/svg+xml,<svg viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M16.3158 18.2895V16.4474C16.3158 15.4702 15.9277 14.5332 15.2367 13.8422C14.5458 13.1513 13.6087 12.7632 12.6316 12.7632H5.26319C4.28608 12.7632 3.34898 13.1513 2.65806 13.8422C1.96714 14.5332 1.57898 15.4702 1.57898 16.4474V18.2895' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round'/><path d='M8.94739 9.07895C10.9821 9.07895 12.6316 7.42947 12.6316 5.39474C12.6316 3.36 10.9821 1.71053 8.94739 1.71053C6.91266 1.71053 5.26318 3.36 5.26318 5.39474C5.26318 7.42947 6.91266 9.07895 8.94739 9.07895Z' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    $header13_home: url("data:image/svg+xml,<svg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3 9L12 2L21 9V20C21 20.5304 20.7893 21.0391 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20V9Z' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round' /><path d='M9 22V12H15V22' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round' /></svg>");
    $header13_order: url("data:image/svg+xml,<svg viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M14.2003 8.72369L5.20032 3.53369' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round' /><path d='M18.7003 15.3237V7.32369C18.7 6.97297 18.6074 6.6285 18.4319 6.32486C18.2563 6.02121 18.0041 5.76906 17.7003 5.59369L10.7003 1.59369C10.3963 1.41816 10.0514 1.32574 9.70032 1.32574C9.34924 1.32574 9.00436 1.41816 8.70032 1.59369L1.70032 5.59369C1.39658 5.76906 1.1443 6.02121 0.968779 6.32486C0.79326 6.6285 0.700677 6.97297 0.700317 7.32369V15.3237C0.700677 15.6744 0.79326 16.0189 0.968779 16.3225C1.1443 16.6262 1.39658 16.8783 1.70032 17.0537L8.70032 21.0537C9.00436 21.2292 9.34924 21.3216 9.70032 21.3216C10.0514 21.3216 10.3963 21.2292 10.7003 21.0537L17.7003 17.0537C18.0041 16.8783 18.2563 16.6262 18.4319 16.3225C18.6074 16.0189 18.7 15.6744 18.7003 15.3237Z' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round' /><path d='M0.970337 6.28369L9.70034 11.3337L18.4303 6.28369' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round' /><path d='M9.70032 21.4037V11.3237' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round' /></svg>");
    $header13_loading: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(0,0,0)' viewBox='0 0 16 16'><path d='M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z'/><path fill-rule='evenodd' d='M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z'/></svg>");
    $header13_close: url("data:image/svg+xml,<svg  viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M13 1L1 13' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round'/><path d='M1 1L13 13' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round'/></svg>");


    $header13_light_search: url("data:image/svg+xml,<svg viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6.72798 12.9044C10.1392 12.9044 12.9045 10.1391 12.9045 6.72794C12.9045 3.31677 10.1392 0.551468 6.72798 0.551468C3.31681 0.551468 0.551514 3.31677 0.551514 6.72794C0.551514 10.1391 3.31681 12.9044 6.72798 12.9044Z' stroke='rgb(255,255,255)' stroke-linecap='round' stroke-linejoin='round'/><path d='M14.4485 14.4485L11.0901 11.0901' stroke='rgb(255,255,255)' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    $header13_light_cart: url("data:image/svg+xml,<svg viewBox='0 0 17 19' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3.25 0.75L0.625 4.25V16.5C0.625 16.9641 0.809374 17.4092 1.13756 17.7374C1.46575 18.0656 1.91087 18.25 2.375 18.25H14.625C15.0891 18.25 15.5342 18.0656 15.8624 17.7374C16.1906 17.4092 16.375 16.9641 16.375 16.5V4.25L13.75 0.75H3.25Z' stroke='rgb(255,255,255)' stroke-linecap='round' stroke-linejoin='round'/><path d='M0.625 4.25H16.375' stroke='rgb(255,255,255)' stroke-linecap='round' stroke-linejoin='round'/><path d='M12 7.75C12 8.67826 11.6313 9.5685 10.9749 10.2249C10.3185 10.8813 9.42826 11.25 8.5 11.25C7.57174 11.25 6.6815 10.8813 6.02513 10.2249C5.36875 9.5685 5 8.67826 5 7.75' stroke='rgb(255,255,255)' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    $header13_light_wishlist: url("data:image/svg+xml,<svg viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M17.8799 2.41035C17.433 1.96323 16.9023 1.60854 16.3183 1.36655C15.7343 1.12455 15.1083 1 14.4761 1C13.844 1 13.218 1.12455 12.6339 1.36655C12.0499 1.60854 11.5193 1.96323 11.0724 2.41035L10.1449 3.33785L9.21738 2.41035C8.31465 1.50762 7.09028 1.00047 5.81363 1.00047C4.53698 1.00047 3.31261 1.50762 2.40988 2.41035C1.50715 3.31308 1 4.53744 1 5.8141C1 7.09075 1.50715 8.31512 2.40988 9.21785L3.33738 10.1453L10.1449 16.9528L16.9524 10.1453L17.8799 9.21785C18.327 8.77094 18.6817 8.24031 18.9237 7.65628C19.1657 7.07226 19.2902 6.44627 19.2902 5.8141C19.2902 5.18192 19.1657 4.55594 18.9237 3.97191C18.6817 3.38789 18.327 2.85726 17.8799 2.41035V2.41035Z' stroke='rgb(255,255,255)' stroke-linecap='round' stroke-linejoin='round' /></svg>");
    $header13_light_user: url("data:image/svg+xml,<svg viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M16.3158 18.2895V16.4474C16.3158 15.4702 15.9277 14.5332 15.2367 13.8422C14.5458 13.1513 13.6087 12.7632 12.6316 12.7632H5.26319C4.28608 12.7632 3.34898 13.1513 2.65806 13.8422C1.96714 14.5332 1.57898 15.4702 1.57898 16.4474V18.2895' stroke='rgb(255,255,255)' stroke-linecap='round' stroke-linejoin='round'/><path d='M8.94739 9.07895C10.9821 9.07895 12.6316 7.42947 12.6316 5.39474C12.6316 3.36 10.9821 1.71053 8.94739 1.71053C6.91266 1.71053 5.26318 3.36 5.26318 5.39474C5.26318 7.42947 6.91266 9.07895 8.94739 9.07895Z' stroke='rgb(255,255,255)' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    $header13_light_loading: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)' viewBox='0 0 16 16'><path d='M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z'/><path fill-rule='evenodd' d='M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z'/></svg>");


    // Header Top
    .header-top {
        background: $as-dark;
        .ht-left {
            a {
                color: rgba($as-white, 0.75);
                text-decoration: none;
                &:hover {
                    color: $as-white;
                }
            }
        }
        .ht-middle {
            text-align: center;
            p {
                margin: 0;
                color: $as-white;
                font-size: 14px;
            }
        }
        .ht-right {
            .dropdown {
                .dropdown-toggle {
                    margin: 0;
                    padding: 0;
                    background: none !important;
                    border-radius: 0;
                    line-height: 35px;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: $as-white !important;
                    display: inline-flex;
                    align-items: center;
                    &:after {
                        content: "\f107";
                        font-family: FontAwesome;
                        border: 0;
                        vertical-align: top;
                        line-height: 1;
                        margin-left: 8px;
                    }
                }
                + .dropdown {
                    border-left: 1px solid rgba($as-white, 0.2);
                    margin-left: 20px;
                    padding-left: 20px;
                }
            }
        }

        .dropdown-menu {
            border: none;
            border-radius: 0px;
            margin: 0;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            box-shadow: $box-shadow;
            .dropdown-item {
                padding: 5px 20px;
                font-size: 15px;
                text-decoration: none;
                font-weight: 400;
                color: $as-dark !important;
                background: $as-white !important;
                margin: 0;
                span {
                    text-decoration: none;
                }

                &:hover,
                &.active {
                    background: rgba($primary, 0.09) !important;
                    color: $primary !important;

                    &:hover {
                        background: rgba($primary, 0.09) !important;
                        color: $primary !important;
                    }
                }
            }
        }
    }


    // Header for desktop view
    @include media-breakpoint-up(lg) {
        .as-main-header {
            .header-middle {
                padding-top: 18px;
                padding-bottom: 18px;
                border-bottom: 1px solid #EFECF3;
                background: $as-white;
            }
            .header-search {
                .input-group {
                    position: relative;
                }
                .search-query {
                    border: 1px solid #EFECF3;
                    box-shadow: 0px 1px 2px rgba(19, 16, 34, 0.08);
                    border-radius: 5px;
                    height: 45px;
                    padding: 0.375rem 45px 0.375rem 1.25rem;
                    z-index: 0;
                }
                .input-group-append {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                }
                .oe_search_button {
                    background: none;
                    border: none;
                    color: #9691A4;
                    padding: 0;
                    width: 40px;
                    height: 45px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                }
            }
            .header-right {
                display: flex;
                justify-content: flex-end;
                .nav {
                    > li {
                        + li {
                            padding-left: 15px;
                        }
                    }
                    a {
                        text-decoration: none;
                    }
                }
                .o_wsale_my_cart {
                    a {
                        display: inline-flex;
                        align-items: center;
                    }
                    .hm-cart-text {
                        display: inline-flex;
                        flex-direction: column;
                        color: inherit;
                        line-height: normal;
                        padding-left: 12px;
                        > span {
                            font-size: 13px;
                        }
                        strong {
                            color: $as-dark;
                            font-weight: 600;
                            font-size: 14px;
                            margin-top: 4px;
                        }
                    }
                }
                .hm-icon {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    background: #EFECF3;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    cursor: pointer;
                    transition: ease background 0.35s;
                    sup {
                        padding: 0;
                        margin: 0;
                        min-width: 20px;
                        min-height: 20px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        top: auto;
                        font-size: 11px;
                        position: absolute;
                        top: -4px;
                        right: -4px;
                        box-shadow: 0 0 0 2px #fff;
                    }
                    
                    .hm-icon-i {
                        width: 22px;
                        height: 22px;
                        display: inline-flex;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    .hm-icon-cart {
                        background-image: $header13_cart;
                    }
                    .hm-icon-heart {
                        background-image: $header13_wishlist;
                    }
                    .hm-icon-user {
                        background-image: $header13_user;
                    }
                    &.dropdown-toggle {
                        &:after {
                            display: none;
                        }
                    }
                    

                    &:hover {
                        background: $primary;
                        .hm-icon-cart {
                            background-image: $header13_light_cart;
                        }
                        .hm-icon-heart {
                            background-image: $header13_light_wishlist;
                        }
                        .hm-icon-user {
                            background-image: $header13_light_user;
                        }
                        .as-btn-loading {
                            .hm-icon-cart {
                                background-image: $header13_light_loading;
                            }
                        }
                    }
                }

                .a-hm-icon {
                    cursor: pointer;
                    &:hover {
                        .hm-icon {
                            background: $primary;
                            .hm-icon-cart {
                                background-image: $header13_light_cart;
                            }
                        }
                        &.as-btn-loading {
                            .hm-icon-cart {
                                background-image: $header13_light_loading;
                            }
                        }
                    }
                    &.as-btn-loading {
                        pointer-events: none;
                        .hm-icon-cart {
                            animation: fa-spin 2s infinite linear;
                            background-image: $header13_loading;
                        }
                    }
                }


                .dropdown-menu {
                    border: none;
                    border-radius: 0px;
                    margin: 0;
                    padding-top: 0.6rem;
                    padding-bottom: 0.6rem;
                    box-shadow: $box-shadow;
                    .hm-username {
                        width: calc(100% - 10px);
                        padding: 7px 15px;
                        display: inline-block;
                        vertical-align: top;
                        background: rgba($primary, 0.1);
                        margin: 0 5px;
                        border-radius: 5px;
                        color: $primary;
                        margin-bottom: 10px;
                    }
                    .dropdown-item {
                        padding: 5px 20px;
                        font-size: 15px;
                        text-decoration: none;
                        font-weight: 400;
                        color: $as-dark !important;
                        background: $as-white !important;
                        margin: 0;
                        span {
                            text-decoration: none;
                        }

                        &:hover,
                        &.active {
                            background: rgba($primary, 0.09) !important;
                            color: $primary !important;

                            &:hover {
                                background: rgba($primary, 0.09) !important;
                                color: $primary !important;
                            }
                        }
                    }
                }
            }

            // Header Nav
            .navbar {
                padding: 0;
                &.shadow-sm {
                    box-shadow: 0px 2px 4px -2px rgba(19, 16, 34, 0.1), 0px 4px 6px -1px rgba(19, 16, 34, 0.1) !important;
                }
            }
            .navbar-nav {
                > .nav-item {
                    > .nav-link {
                        position: relative;
                        padding: 0 25px;
                        line-height: 50px;
                        font-weight: 500;
                    }
                    &.as-ht-menu {
                        .nav-link {
                            display: flex;
                            align-items: center;
                            img {
                                margin-right: 10px;
                                max-width: 20px;
                                max-height: 20px;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
    }


    // Menu Efects
    .as-main-header {

        // Menu Styles
        // All mixin mentioned in common_header.scss
        @include media-breakpoint-up(lg) {
            .navbar-nav {

                // Nav Style pills
                @if o-website-value('header-links-style')=='pills' {
                    //$m-line-height, $m-margin-y, $m-margin-x, $m-padding-x, $m-padding-y, $m-font-weight
                    @include as-pill-menu(35px, 5px, 2px, 15px, 0px, 500);
                }

                // Nav Style Fill
                @if o-website-value('header-links-style')=='fill' {
                    //$m-line-height, $m-margin-x, $m-margin-y, $m-padding-x, $m-padding-y, $m-font-weight, $m-border-radius
                    @include as-fill-menu(45px, 2px, 0, 15px, 0px, 500, 3px);
                }

                // Nav Style outline
                @if o-website-value('header-links-style')=='outline' {
                    //$m-line-height, $m-margin-x, $m-margin-y, $m-padding-x, $m-padding-y, $m-font-weight, $m-border-radius
                    @include as-outline-menu(30px, 8px, 2px, 0, 10px, 500, 0px);
                }

                // Nav Block Style
                @if o-website-value('header-links-style')=='block' {
                    //$m-line-height, $m-margin-x, $m-margin-y, $m-padding-x, $m-padding-y, $m-font-weight, $m-border-radius
                    @include as-block-menu(45px, 0, 0, 0, 10px, 500, 0px);
                }

                // Border Bottom
                @if o-website-value('header-links-style')=='border-bottom' {
                    //$m-line-height, $m-margin-x, $m-margin-y, $m-padding-x, $m-padding-y, $m-font-weight, $m-border
                    @include as-border-menu(50px, 0, 10px, 0, 0px, 500, 0px);
                    > .nav-item {
                        &:first-child {
                            > .nav-link {
                                margin-left: 0;
                            }
                        }
                        > .nav-link {
                            padding: 0 15px;
                        }
                    }
                }
            }
        }
    }

    // Header toggle
    .as-main-header {
        .hm-toggle {
            width: 35px;
            .navbar-toggler {
                border: none;
                box-shadow: none;
                padding: 0;
                width: 40px;
                height: 35px;
                span {
                    box-shadow: 0 -8px 0 0 $as-dark, 0 8px 0 0 $as-dark;
                    background: $as-dark;
                    height: 2px;
                    width: 26px;
                }
            }
        }
    }


    // Mobile Header

    @include media-breakpoint-down(md) {
        .as-main-header {
            .navbar {
                padding: 0;
            }
            .header-middle {
                padding-top: 15px;
                padding-bottom: 15px;
                background: $as-white;
                box-shadow: 0px 2px 4px -2px rgba(19, 16, 34, 0.1), 0px 4px 6px -1px rgba(19, 16, 34, 0.1) !important;
            }
            .hm-left {
                display: flex;
                align-items: center;
                .navbar-brand {
                    margin: 0 auto;
                }
                .o_wsale_my_cart {
                    .hm-icon {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background: #EFECF3;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        cursor: pointer;
                        transition: ease background 0.35s;

                        sup {
                            padding: 0;
                            margin: 0;
                            min-width: 20px;
                            min-height: 20px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            top: auto;
                            font-size: 11px;
                            position: absolute;
                            top: -4px;
                            right: -4px;
                            box-shadow: 0 0 0 2px #fff;
                        }
                        .hm-icon-cart {
                            width: 20px;
                            height: 20px;
                            display: inline-flex;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-image: $header13_cart;
                        }
                        &.as-btn-loading {
                            .hm-icon-cart {
                                background-image: $header13_loading;
                            }
                        }
                    }
                }
            }
            

        }
    }

    
    .mobile-header-13 {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1062;
        background: $as-white;
        box-shadow: 0 0px 12px -1px rgba($as-dark, 0.16);
        body.overflow-hidden & {
            z-index: 1060;
        }

        .header-search {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 56px;
            z-index: 11;
            min-height: calc(100vh - 60px);
            background: rgba(0, 0, 0, 0.6);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
            .o_searchbar_form {
                padding: 40px 15px 15px;
                .search-query {
                    border-radius: 0;
                }
                .oe_search_button {
                    border-radius: 0;
                    border: none;
                }
                .dropdown-menu {
                    border-radius: 0;
                    border: none;
                    width: calc(100% - 30px) !important;
                    left: 15px;
                    min-width: calc(100% - 30px);
                }
            }
        }
        

        .nav {
            width: 100%;
            > li {
                flex: 1;
                + li {
                    border-left: 1px solid $as-gray-300;
                }
            }
        }
        .hm-icon {
            display: flex;
            position: relative;
            padding: 8px 0;
            width: 100%;
            justify-content: center;
            sup {
                padding: 0;
                margin: 0 0 0 5px;
                min-width: 18px;
                min-height: 18px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                top: 6px;
                font-size: 10px;
                bottom: auto;
                position: absolute;
                left: 50%;
            }
            .fa {
                width: 40px;
                height: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-repeat: no-repeat;
                background-position: center;
                background-size: auto 30px;
                &:before {
                    display: none;
                }
            }
            .fa-search {
                background-image: $header13_search;
                background-size: auto 26px;
            }
            &[aria-expanded="true"] {
                .fa-search {
                    background-image: $header13_close;
                    background-size: auto 26px;
                }
            }

            .fa-heart {
                background-image: $header13_wishlist;
            }

            .fa-home {
                background-image: $header13_home;
            }
            .fa-order {
                background-image: $header13_order;   
            }
        }
        .hm-user-icon {
            font-size: 0;
            cursor: pointer;
            display: flex;
            padding: 8px 0;
            &:before {
                content: "";
                width: 40px;
                height: 40px;
                display: inline-block;
                vertical-align: top;
                margin: 0 auto;
                background-image: $header13_user;
                background-repeat: no-repeat;
                background-position: center;
                background-size: auto 30px;
            }
            &.as-btn-loading {
                pointer-events: none;
                &:before {
                    animation: fa-spin 2s infinite linear;
                    background-image: $header13_loading;
                }
            }
        }
        .dropdown-menu {
            border: none;
            border-radius: 0px;
            margin: 0;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            box-shadow: $box-shadow;
            .dropdown-item {
                padding: 0.55rem 1.7rem;
                font-size: 15px;
                text-decoration: none;
                font-weight: 400;
                color: $as-dark !important;
                background: $as-white !important;

                span {
                    text-decoration: none;
                }

                &:hover,
                &.active {
                    background: rgba($primary, 0.09) !important;
                    color: $primary !important;

                    &:hover {
                        background: rgba($primary, 0.09) !important;
                        color: $primary !important;
                    }
                }
            }
        }
    }

    @if o-website-value('product-sticky-cart')=='alan_product_sticky_cart_layout_3' {
        @media(max-width: 991px){
            .as-product-sticky-cart {
                left: 10px;
                bottom: 70px;
                right: 10px;
                width: auto;
                z-index: 11111;
            }
        }
    }
    @if o-website-value('product-sticky-cart')=='alan_product_sticky_cart_layout_2' {
        @media(max-width: 991px){
            .as-product-sticky-cart {
                bottom: 70px;
                z-index: 11111;
            }
        }
    }
    @if o-website-value('product-sticky-cart')=='alan_product_sticky_cart_layout_1' {
        @media(max-width: 991px){
            .as-product-sticky-cart {
                bottom: 70px;
                z-index: 11111;
            }
        }
    }
    @if o-website-value('clear-filter-layout')=='alan_clear_filter_bottom' {
        @media(max-width: 991px) {
            .as-shop-top-filter {
                bottom: 55px;
                z-index: 1061;
            }
        }
    }

    @include media-breakpoint-down(md) {
        #wrapwrap {
            padding-bottom: 57px;
        }
    }

}
