
// Free section on cart view page
.free_delivery_ts {
    padding: 10px 0px;
}

.free_delivery_img_container_ts {
    background: #fbb600;
    border-radius: 100px;
    left: -30px;
    padding: 26px 20px;
    position: absolute;
    top: -16px;
}

.show-free-delivery {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.free-delivery-module_free-delivery-tab_3xNIm {
    align-items: center;
    background: #fff8cd;
    display: flex;
    min-height: 60px;
    overflow: hidden;
    padding: 12px 0;
    position: relative;
}

.free-delivery-module_free-delivery-tab_3xNIm p {
    margin: 0 16px 0 96px;
}

.cart_summary_features {
    margin-right: 16px;
    display: inline-block;
    font-size: 1.5em;
    height: 1em;
    line-height: 1em;
    position: relative;
    vertical-align: baseline;
    width: 1em;
}